.CheckoutSummary {
    text-align: center;
    width: 80%;
    margin: auto;
}

/* check if we have at least 600px minimum */
/* @media (min-width: 600px) {  
    .CheckoutSummary {
        width: 500px;
    }
} */