.Logo {
    background-color: white;
    padding: 8px;
    height: 100%;
    box-sizing: border-box; /*żeby brało pod uwagę też % z borderem*/
    border-radius: 5px;
}

.Logo img {
    height: 100%;
}